/* .tbdr{
    border: 1px solid black;
} */
.header_top{
    height: 50px;
    background-color: #2986E3;
    z-index: 10000;
}
.navbar-nav .nav-item > .nav-link:hover{
    background-color: #045FBA;
}
main{
    margin-top: 50px;
}
.section-1{
    min-height: 350px;
    
}
.section-2{
    height: 200px;
   
}
.section-2 .equal{
    justify-content: space-evenly;
    align-items: center;
}
.section-3{
    height: 230px;
}
.section-4{
    height: 330px;
}
footer{
    height: 550px;
}
footer .card > button.footer_btn{
    width: 40%;
  margin-top: 166px;
  margin-left: 80px;  
}
@media only screen and (max-width: 700px) {
 .header_top{
    position: fixed;
}
.section-1{
    width: 100%;
   min-height: 200px;
}
.section-2{
    width: 100%;
    height: auto;
    margin-top: 10px !important ;
}
.section-2 .section2_card{
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px !important;
}
.section-2 .section2_card .card{
    margin-left: 0px !important;
   
}
.section-3{
    width: 100%;
    height: auto;
}
.section-4{
    width: 100%;
    height: auto;
    padding-left: 70px !important;
}
footer{
    height: auto;
    width: 100%;
}
footer .footer_card{
    width: 100%;
    margin-bottom: 40px;
    padding-left: 30px !important;
}
footer .footer_card .card{
    margin-left: 0px !important;
   
}
footer .footer_row{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

}